// Small laptop / big tablet
@media (max-width: 64em) {
    .logo-wrapper {
        width: 12% !important;
    }

    .home-landing {
        .home-landing-text {
            margin: 25vh auto 0 auto;
        }
    }

    .about-section {
        width: 90%;
        
    }
    
}

// Tablet
@media (max-width: 62em) {
    .logo-wrapper {
        width: 12% !important;
    }

    .home-landing {
        .home-landing-text {
            margin: 22vh auto 0 auto;
        }
    }

    .portfolio-section {
        .portfolio-grid {
            grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
            grid-auto-rows: minmax(400px,auto);
            width: 90%;
            gap: 30px;
        }

        .project-card {

            .project-text-wrapper {
                h3 {
                    font-size: 24px;
                }
            }
        }
    }
}

// Mobile
@media (max-width: 32em) {

    // Header
    .header-div {
        padding: 4%;
    }

  .logo-wrapper {
    width: 25% !important;
    display: flex;
    align-items: center;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 12vh;
    bottom: 0;
    gap: 60px;
    flex-direction: column;
    background-color: $cream;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 40px;
    z-index: 100;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

//   Footer
footer {
    flex-direction: column;
    gap: 40px;
    padding: 6% 4%;
    align-items: start;
}

.home-landing {
    .home-landing-text {
        margin: 20vh auto 0 auto;

        h1 {
            font-size: 38px;
        }

        h4 {
            font-size: 18px;
        }
    }
}

.portfolio-section {
    .portfolio-grid {
        grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    }
}

.about-section {
    .about-container {
        flex-direction: column;
        gap: 20px;

        .about-tin-description {
            gap: 30px;
        }
    }
    
}

}