@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

.body-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a:visited {
  color: #000;
}

.header-div {
  display: flex;
  justify-content: space-between;
  background-color: #F3A738;
  padding: 1.5% 3%;
  align-items: center;
  font-size: 18px;
  height: 12vh;
  position: fixed;
  top: 0;
  z-index: 101;
  width: 100%;
}

.logo-wrapper {
  width: 5%;
}
.logo-wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 60px;
  align-items: center;
}
.header-menu a {
  color: #292929;
}
.header-menu a:hover {
  text-decoration: underline;
}
.header-menu .header-menu-item:last-child {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
}
.header-menu .header-menu-item:last-child a {
  color: #fff;
}
.header-menu .header-menu-item:last-child:hover {
  background-color: #5b3907;
  transition: 0.3s ease-out;
}
.header-menu .header-menu-item:last-child:hover a:hover {
  text-decoration: none;
}

.nav-link {
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: #fff;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 45px;
  height: 4px;
  margin: 9px auto;
  transition: all 0.3s ease;
  background-color: #000;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #FF9000;
  padding: 1.5% 3%;
  align-items: center;
}
footer .footer-contact-container {
  background-color: #000;
  color: #FF9000;
  padding: 20px 25px;
}
footer .footer-socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-socials .social-icon-wrapper {
  display: flex;
  gap: 20px;
  font-size: 30px;
}
footer .footer-socials .social-icon-wrapper a {
  color: #000;
}
footer .footer-socials .social-icon-wrapper a:hover {
  color: #5b3907;
}

.home-landing {
  height: 100vh;
  background-image: url("./Assets/landing-bg.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.home-landing .home-landing-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 18vh auto 0 auto;
  text-align: center;
  width: 90vw;
  align-items: center;
  gap: 30px;
}
.home-landing .home-landing-text .button {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  width: 250px;
  justify-content: center;
  font-size: 18px;
}
.home-landing .home-landing-text .button:hover {
  background-color: #5b3907;
  transition: 0.3s ease-out;
}
.home-landing .home-landing-text h1 {
  font-size: 52px;
  margin: 0;
}
.home-landing .home-landing-text h4 {
  margin: 0;
  font-size: 24px;
}
.home-landing .home-landing-image-container {
  position: absolute;
  bottom: 0;
  margin-top: auto;
}

@media (max-width: 64em) {
  .logo-wrapper {
    width: 12% !important;
  }
  .home-landing .home-landing-text {
    margin: 25vh auto 0 auto;
  }
}
@media (max-width: 62em) {
  .logo-wrapper {
    width: 12% !important;
  }
  .home-landing .home-landing-text {
    margin: 22vh auto 0 auto;
  }
}
@media (max-width: 32em) {
  .header-div {
    padding: 4%;
  }
  .logo-wrapper {
    width: 25% !important;
    display: flex;
    align-items: center;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    bottom: 0;
    gap: 60px;
    flex-direction: column;
    background-color: #FFF6E8;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 40px;
    z-index: 100;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  footer {
    flex-direction: column;
    gap: 40px;
    padding: 4%;
  }
  .home-landing .home-landing-text {
    margin: 20vh auto 0 auto;
  }
  .home-landing .home-landing-text h1 {
    font-size: 38px;
  }
  .home-landing .home-landing-text h4 {
    font-size: 18px;
  }
}/*# sourceMappingURL=styles.css.map */