@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Main Style
$header_color: #F3A738;
$footer_color: #FF9000;
$black: #000;
$cream: #FFF6E8;
$brown: #874900;
$btn_hover:  #5b3907;

@mixin main-button {
    background-color: $black;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
}

@mixin button_hover {
    background-color: #5b3907;
    transition: 0.3s ease-out;
}

@mixin white_text {
    color: #fff;
}

// Global
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3', sans-serif;
}

.body-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    font-weight: 700;
}

a:visited {
    color: $black;
}

// Header
.header-div {
    display: flex;
    justify-content: space-between;
    background-color: $header_color;
    padding: 1.5% 3%;
    align-items: center;
    font-size: 18px;
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;
}

.logo-wrapper {
    width: 5%;

    img {
        object-fit: contain;
    }
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 60px;
    align-items: center;

    a {
        color: #292929;
    }

    a:hover {
        text-decoration: underline;
    }

    .header-menu-item:last-child {
        @include main-button;

        a {
            @include white_text;
        }
    }

    .header-menu-item:last-child:hover {
        @include button_hover;
        
        a:hover {
            text-decoration: none;
        }
    }
}

.nav-link{
    transition: 0.3s ease-out;
}
  
.nav-link:hover{
    color: #fff;
}
  
.hamburger{
    display: none;
    cursor: pointer;
}
  
.bar{
    display: block;
    width: 45px;
    height: 4px;
    margin: 9px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color:$black;
    border-radius: 10px;
}

// Footer 
footer {
    display: flex;
    justify-content: space-between;
    background-color: $footer_color;
    padding: 1.5% 3%;
    align-items: center;

    .footer-contact-container {
        background-color: $black;
        color: $footer_color;
        padding: 20px 25px;
    }

    .footer-socials {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .social-icon-wrapper {
            display: flex;
            gap: 20px;
            font-size: 30px;

            a {
                color: $black;
            }

            a:hover {
                color: $btn_hover;
            }
        }
    }
}

// Index / Home Page
.home-landing {
    height: 100vh;
    background-image: url("./Assets/landing-bg.png");
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    

    .home-landing-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 18vh auto 0 auto;
        text-align: center;
        width: 90vw;
        align-items: center;
        gap: 30px;
     
         .button {
             @include main-button;
             width: 250px;
             justify-content: center;
             font-size: 18px;
         }
     
         .button:hover {
             @include button_hover;
         }
     
         h1 {
             font-size: 52px;
             margin: 0;
         }
     
         h4 {
             margin: 0;
             font-size: 20px;
         }
     
     }

     .home-landing-image-container {
        position: absolute;
        bottom: 0;
        margin-top: auto;
     }
}



// Media query
@import './media';
